# APP_URL: The URL where this website is hosted.
APP_URL="https://www.aumstrategist.com/"

# VITE_WEB3FORMS_ACCESS_KEY: Public Web3Forms key to deliver contact form and strategy calls directly to your email (e.g. jayparmar1177@gmail.com).
# Get a free key instantly from: https://web3forms.com
VITE_WEB3FORMS_ACCESS_KEY=916cf501-53f0-4d7f-9b47-7ceec5c36e2b

